/* Main font and page settings */

body {
    font-family: Candara, 'Linux Biolinum O', Arial, sans-serif;
    font-size: 1.1em;
    color: #AAA;
    background: #fff url('bug-light.png') no-repeat right bottom;
}

a {
    background-color: #f3f3f3;
    color: #555;
}

img {
    border: 0;
}

em, i {
    font-family: 'Palatino Linotype', 'Linux Libertine O', Georgia, serif;
}

b, strong {
    font-family: 'Linux Libertine C';
}

#main_wrapper {
    max-width: 600px;
    margin: auto;
}


#latest, #misc, #menus {
    clear: both;
}

/* Latest article part */

#latest {
    font-size: 0.9em;
    clear: both;
    border-top: 2px solid #DDD;
}

#latest_text {
    margin: 0 0 10px 0;
}

article {
    color: #222;
    line-height: 1.4em;
}

article > * {
    margin: 0 0 0.8em 14px;
}

h1, h2, h3, h4, h5, h6, h7 {
    clear: both;
    font-family: 'Linux Libertine C','Palatino Linotype', Georgia, serif;
    margin: 20px 0 8px 0;
    padding: 0;
    border-left: 0;
}

h1 {
    margin: 15px 0 18px 0;
}


article ul, article ol {
    padding-left: 1.5em;
}

blockquote, pre {
    padding-left: 0.4em;
    border-width: 1px 0 0 10px;
    border-style: solid;
}

blockquote {
    font-family: 'Palatino Linotype', 'Linux Libertine O', Georgia, serif;
    font-style: italic;
    border-color: #ded;
}

blockquote em, blockquote i {
    font-style: normal;
    font-family: 'Linux Biolinum O';
}

pre, code {
    font-family: Inconsolata, Consolas;
}

pre {
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: #dee;
    line-height: 1.2em;
}

code {
    font-size: 0.96em;
}

footer {
    display: block;
    clear: both;
    font-size: 0.8em;
    text-align: center;
}
