{% if date_to_handle != null %}
{{ date_to_handle | date: "%w" | prepend: "_" | replace: "_0", "niedziela" | replace: "_1", "poniedzia&#322;ek" | replace "_2", "wtorek" | replace: "_3", "&#347;roda" | replace: "_4", "czwartek" | replace: "_5", "pi&#261;tek" | replace: "_6", "sobota" }},
{% capture day %}{{ date_to_handle | date: "%d" }}{% endcapture %}
{% if day < "10" %}{{ day | replace: "0", "" }}
{% else %}{{ day }}{% endif %}

{{ date_to_handle | date: "%m" | replace: "01", "stycznia" | replace: "02", "lutego" | replace: "03", "marca" | replace: "04", "kwietnia" | replace: "05", "maja" | replace: "06", "czerwca" | replace: "07", "lipca" | replace: "08", "sierpnia" | replace: "09", "wrze&#347;nia" | replace: "10", "pa&#378;dziernika" | replace: "11", "listopada" | replace: "12", "grudnia" }}

{{ date_to_handle | date: "%Y" }}
{% endif %}
