{% for post in archive %}
{% capture month %}{{ post.date | date: "%B %Y" }}{% endcapture %}
{% capture monthId %}{{ post.date | date: "%B_%Y" }}{% endcapture %}
{% if month != old_month %}
{% if old_month != null %}</ul>{% endif %}
<label for="{{ monthId }}">{{ month }}</label>
<input id="{{ monthId }}" type="checkbox" />
<ul>
{% endif %}
{% assign old_month = month %}
{% capture day %}{{ post.date | date: "%d" }}{% endcapture %}
<li><time datetime="{{ post.date | date: site.date_format }}">
    {% if day < "10" %}{{ day | replace: "0", "" }}
    {% else %}{{ day }}{% endif %}
</time> <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
{% if month != null %}
</ul>
{% endif %}
