/* Main font and page settings */

body {
    font-family: liber, 'Segoe UI', 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 21px;
    background: #fff url('bug-light.png') no-repeat right bottom;
}

a {
    background-color: #f3f3f3;
    color: #555;
}

h1 a {
    text-decoration: none;
    background-color: inherit;
    color: inherit;
}

img {
    border: 0;
}

#main_wrapper {
    max-width: 640px;
    margin: auto;
}


#latest, #misc, #menus {
    clear: both;
}

/* Latest article part */

#latest {
    font-size: 0.85em;
    clear: both;
    border-top: 2px solid #DDD;
}

#latest_text {
    color: #AAA;
    margin: 0 0 10px 0;
}

article {
    color: #000;
    font-size: 1.14em;
    line-height: 1.7em;
}

article > * {
    margin: 0 0 1.2em 14px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: libercap;
    clear: both;
    font-weight: normal;
    margin: 20px 0 8px 0;
    padding: 0;
    border-left: 0;
}

h1 {
    margin: 15px 0 18px 0;
    font-size: 2em;
}

h2, h3, h4, h5, h6, h7 {
    border-bottom: 1px solid #bbb;
}

article ul, article ol {
    padding-left: 1.5em;
}

blockquote, pre {
    padding-left: 0.4em;
    border-width: 0 0 0 10px;
    border-style: solid;
}

blockquote {
    font-style: italic;
    border-color: #ded;
    font-size: 1.1em;
}

blockquote em, blockquote i {
    font-style: normal;
}

code {
    font-family: inconsol, 'Segoe UI Mono', 'Droid Sans Mono', monospace;
    background-color: #eed;
    font-size: 0.96em;
}

pre {
    font-family: inconsol, Consolas, Inconsolata, 'Droid Sans Mono', monospace;
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: #eed;
    line-height: 1.2em;
}

footer {
    display: block;
    clear: both;
    font-size: 0.8em;
    text-align: center;
}
