
@font-face {
  font-family: 'liber';
  font-style: normal;
  font-weight: normal;
  src: url('LinBiolinum_Re-0.6.4.woff') format('woff'),
       url('LinBiolinum_Re-0.6.4.otf') format('opentype');
}

@font-face {
  font-family: 'liber';
  font-style: italic;
  font-weight: normal;
  src: url('LinLibertine_It-4.2.6.woff') format('woff'),
       url('LinLibertine_It-4.2.6.otf') format('opentype');
}


@font-face {
  font-family: 'liber';
  font-style: normal;
  font-weight: bold;
  src: url('LinBiolinum_Bd-0.5.5.otf') format('opentype');
}

@font-face {
  font-family: 'liber';
  font-style: italic;
  font-weight: bold;
  src: url('LinLibertine_BI-4.1.0.otf') format('opentype');
}

@font-face {
  font-family: 'libercap';
  src: url('LinLibertine_C-4.0.4.woff') format('woff'),
       url('LinLibertine_C-4.0.4.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: 'inconsol';
  src: url('Inconsolata.woff') format('woff'),
       url('Inconsolata.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
