
/* Header part */

#header {
    /* border-bottom: 1px solid #000; */
    margin: 30px 0 15px 0;
}


#info {
    clear:both;
    color: #666;
    text-align: left;
    line-height: 1.4em;
    margin-bottom: 20px;
}

#info code {
    color: #AAA;
    display: block;
    font-size: 0.8em;
    margin-top: 20px;
    text-align: center;
}

#info code img {
    border: 0;
    vertical-align: text-top;
}

#blog_title {
    font-family: Calibri, sans-serif;
    color: #000;
    font-weight: bold;
}

#sw {
    font-size: 4em;
    color: #555;
}

#cv {
    display: none;
    font-size: 2em;
}


/* Menu */

#menus nav {
    display: block;
    float: left;
    width: 150px;
    margin: 0 10px 10px 0;
    font-size: 0.9em;
    color: #777;
}

#menus nav ul {
    margin: 0 0 5px 5px;
    padding: 0;
    list-style: none;
}

#menus a {
    color: #222;
    background: none;
}

#menus a img {
    vertical-align: middle;
    text-decoration: none;
    border: 0;
}
