<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}{{#title}} - {{/title}}Long-standing Bug</title>
    <link rel="alternate" type="application/atom+xml" title="Long-standing Bug" href="atom.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic|Neuton:400,700,400italic|Abril+Fatface|Anonymous+Pro:400,700&subset=latin,latin-ext"
	        rel="stylesheet" type="text/css" media="(min-width: 640px)" />
    <link href="media/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header id="main_navigation">
      <nav id="hiders">
        Toggle:
        <a href="#" id="hide_intros">Abstracts</a>,
        <a href="#" id="tags_toggler">All Tags</a>
      </nav>
      <nav id="home">
	      <img src="media/bug.png" style="vertical-align: top;" /> Long-standing Bug:
	      <a href="index.html" id="articles_link">All Articles</a>,
        <a href="info.html">About</a>,
        <a href="atom.xml">RSS</a>
      </nav>
      <nav id="tags">
        Tags:
        {{#all_tags}}
        <a href="{{html}}">{{name}}[{{count}}]</a>
        {{/all_tags}}
      </nav>
    </header>
    <nav id="index">
      
      {{#posts}}
      <article>
        
        <nav class="metainfo">
          {{#date}}<time>{{year0}}-{{month0}}-{{day0}}</time>{{/date}}
          {{#tags}}
          <a href="{{html}}">{{name}}</a>
          {{/tags}}
        </nav>
              
        <h1><a href="{{html}}">{{{title}}}</a></h1>
        
        {{#intro}}
        <section class="introduction">

	        {{{intro}}}

          <p><a href="{{html}}#rest">Continue Reading…</a> <a href="{{html}}#comments">Comments</a></p>
        </section>
        {{/intro}}
      </article>
      {{/posts}}
      
    </nav>
    <footer id="main_footer">
      <nav id="return_to_top"><a href="#main_navigation">↑ Top</a></nav>
      <div id="copywrong">
	      &copy; Copywrong 2011 Szymon Witamborski
      </div>
    </footer>
    <script src="media/longstandingbug.js"></script>
    <script src="media/hyphenator.js"></script>
    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23922729-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
