<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="media/bug-inv.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="$blog_title" href="atom.xml" />
    <link rel="stylesheet" href="media/fonts.css" />
    <link rel="stylesheet" href="media/makeblog.css" />
    <link rel="stylesheet" href="media/common.css" />
    <link rel="stylesheet" href="media/index.css" />
    <title>$blog_title - $blog_author</title>
    <!-- work around IE not handling properly unknown tags -->
    <!-- suggested here: http://diveintohtml5.org/semantics.html -->
    <script>
      document.createElement("article");
      document.createElement("nav");
      document.createElement("aside");
      document.createElement("footer");
      document.createElement("date");
    </script>
  </head>
  <body>
    <div id="main_wrapper">
      <div id="header">
	<div id="sw">
	  S/W
	</div>
	<div id="cv">
	  <a href="swftwcv.pdf" alt="Hire me!">CV</a>
	</div>
	<div id="info">
	  Witam na&nbsp;stronie Szymona Witamborskiego. Jest on&nbsp;zainteresowany nowymi językami programowania, głównie Clojure. Poza tym od&nbsp;zawsze martwiły go&nbsp;tematy wokół tworzenia GUI. Ta&nbsp;strona opowiada o&nbsp;jego poczynaniach w&nbsp;w/w zagadnieniach.
	</div>
      </div>
      <aside id="menus">
	<nav id="misc" class="menu">
	  <ul>
	    <li><a href="archive.html">Archiwa</a></li>
	    <li><a href="info.html">Info</a></li>
	  </ul>
	</nav>
	<nav id="projects" class="menu">
	  Własne projekty:
	  <ul>
	    <li><a href="http://launchpad.net/makeblog">Makeblog</a></li>
	  </ul>
	</nav>
	<nav id="categories" class="menu">
	  Piszę o:
	  <ul>
	    <li>Tu pojawią się kategorie.</li>
	  </ul>
	</nav>
      </aside>
      <div id="latest">
	<div id="latest_text">Najnowszy wpis: <date>$date</date></div>
	<article>
	  <h1>$title</h1>
	  $body
	</article>
      </div>
      <footer>
	&copy; 2010 Szymon Witamborski
      </footer>
    </div>
  </body>
</html>
