<!DOCTYPE html>
<html lang="{% if page.lang == null %}en-gb{% else %}{{ page.lang }}{% endif %}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=320, initial-scale=1.0">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="atom.xml" />
    <link rel="stylesheet" href="media/common.css" />
    <link rel="stylesheet" href="media/colorful.css" />
    <link rel="stylesheet" href="media/{{ page.addcss }}" />

    <title>{{ page.title }}</title>
    <!-- work around IE (8?) not handling properly unknown tags -->
    <!-- suggested here: http://diveintohtml5.org/semantics.html -->
    <script>
      document.createElement("article");
      document.createElement("nav");
      document.createElement("aside");
      document.createElement("footer");
      document.createElement("date");
    </script>
    <script src="media/hyphenator.js" type="text/javascript"></script>
    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23922729-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="main_wrapper">
      {{ content }}
      <footer>
	Copywrong 2009-2011 Szymon Witamborski, <a href="info.html">CC by</a>
      </footer>
    </div>
  </body>
</html>
