<!DOCTYPE html>
<html lang="{% if page.lang == null %}en-gb{% else %}{{ page.lang }}{% endif %}">
  <head>
    <meta charset="utf-8" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="atom.xml" />
    <link rel="stylesheet" href="media/main.css" />

    <title>{{ page.title }}</title>
    <!-- work around IE (8?) not handling properly unknown tags -->
    <!-- suggested here: http://diveintohtml5.org/semantics.html -->
    <script>
      document.createElement("article");
      document.createElement("nav");
      document.createElement("aside");
      document.createElement("footer");
      document.createElement("time");
    </script>
  </head>
  <body>
    <div id="main_container">
      <div id="left_container">
        <header>
          <a href="index.html" id="logo"><img src="media/header.svg" /></a>
        </header>
        {{ content }}
      </div>
      <div id="right_container">
        <nav id="meta_menu">
          <a href="index.html">Home</a><br />
          <a href="atom.xml">Atom</a><br />
          <a href="info.html">Author</a><br />
          <a href="http://twitter.com/szywon">Twitter</a><br />
          <a href="http://github.com/santamon">GitHub</a>
        </nav>
        <nav id="projects_menu">
          <p>Projects:</p>
          <a href="http://github.com/santamon/GUIFTW">GUI FTW!</a><br />
          <a href="http://github.com/santamon/slideshow-bob">Slideshow Bob</a>
        </nav>
        <nav id="catogries_menu">
          <p>Categories:</p>
          <a href="clojure-category.html">Clojure</a><br />
          <a href="gui-ftw-category.html">GUI</a><br />
          <a href="javascript-category.html">JavaScript</a>
        </nav>
        <nav id="links_menu">
          <p>Links:</p>
          <a href="http://radek.pycka.com">Radek Pycka</a><br />
          <a href="http://blog.charmas.pl">Michał Charmas</a><br />
          <a href="http://konradhalas.blogspot.com/">Konrad Hałas</a><br />
          <a href="http://infoq.com">InfoQ</a>
        </nav>
        <nav id="archive_menu">
          <p>Archive:</p>
          {% assign archive = site.posts %}
          {% include listing-months.html %}
        </nav>
      </div>
    </div>
    <footer><div>Copywrong 2011 Szymon Witamborski</div></footer>
    <script src="media/hyphenator.js"></script>
    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23922729-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
