---
layout: default
addcss: index.css
---
<div id="header">
  <div id="sw">
    <img src="media/bug-big.png" alt="Long-standing Bug" />
  </div>
  <div id="cv">
    <a href="swftwcv.pdf" alt="Hire me!">CV</a>
  </div>
  <div id="info" class="hyphenate">
    <span style="font-family: libercap; color: #000;">{{ site.title }}</span>
    &mdash; Szymon Witamborski o programowaniu,
    <i>meta</i>programowaniu, Clojure i GUI.<br />
    <!-- <code>Content-type: bull/sh*t</code> -->
  </div>
</div>
<aside id="menus">
  <nav id="misc" class="menu">
    <ul>
      <li><a href="atom.xml">Kanał Atom</a></li>
      <li><a href="archive.html">Archiwa</a></li>
      <li><a href="info.html">Info</a></li>
    </ul>
  </nav>
  <nav id="projects" class="menu">
    Projekty:
    <ul>
      <li><a href="http://github.com/santamon/GUIFTW">GUI FTW!</li>
      <li><a href="http://github.com/santamon/makeblog">Makeblog</a></li>
    </ul>
  </nav>
  <nav id="categories" class="menu">
    Piszę o:
    <ul>
      <li>(tu będą tagi)</li>
    </ul>
  </nav>
</aside>
<div id="latest">
    {{ content }}
</div>
