---
layout: default
addcss: article.css
---
<div id="header">
  <div id="sw">
    <a href="index.html">
      <img src="media/bug-crop.png" alt="Long-standing Bug" />
    </a>
  </div>
  <nav id="menu">
    <a href="archive.html">Archiwa</a>,
    <a href="info.html">Info</a>
  </nav>
</div>
<div id="latest">
  <time id="latest_text">
    {% assign date_to_handle = page.date %}
    {% include date.html %}</time>
  <article class="hyphenate">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </article>
</div>
